In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
import contextily as cx
from shapely import wkt

In [5]:
filepath=r'Datasets for IV\60dde6d7-en\QITS-2023-1-EN-20240216T090213.csv'
df=pd.read_csv(filepath)
df.head()

,LOCATION,Reporter country,FLOW,Flow,PARTNER,Partner country,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2010,2010,USD,US Dollar,0,Units,NaN,NaN,62852134,NaN,NaN
1,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2011,2011,USD,US Dollar,0,Units,NaN,NaN,73144918,NaN,NaN
2,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2012,2012,USD,US Dollar,0,Units,NaN,NaN,71483059,NaN,NaN
3,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2013,2013,USD,US Dollar,0,Units,NaN,NaN,67897422,NaN,NaN
4,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2014,2014,USD,US Dollar,0,Units,NaN,NaN,61114752,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261252 entries, 0 to 261251
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   LOCATION               261252 non-null  object
 1   Reporter country       261252 non-null  object
 2   FLOW                   261252 non-null  object
 3   Flow                   261252 non-null  object
 4   PARTNER                261252 non-null  object
 5   Partner country        261252 non-null  object
 6   FREQUENCY              261252 non-null  object
 7   Frequency              261252 non-null  object
 8   TIME                   261252 non-null  object
 9   Time                   261252 non-null  object
 10  Unit Code              261252 non-null  object
 11  Unit                   261252 non-null  object
 12  PowerCode Code         261252 non-null  int64
 13  PowerCode              261252 non-null  object
 14  Reference Period Code  0 non-null       float64
 15  Reference Period       0 non-null       float64
 16  Value                  261252 non-null  int64
 17  Flag Codes             0 non-null       float64
 18  Flags                  0 non-null       float64
dtypes: float64(4), int64(2), object(13)
memory usage: 37.9+ MB

In [7]:
df.isna().sum()

LOCATION                      0
Reporter country              0
FLOW                          0
Flow                          0
PARTNER                       0
Partner country               0
FREQUENCY                     0
Frequency                     0
TIME                          0
Time                          0
Unit Code                     0
Unit                          0
PowerCode Code                0
PowerCode                     0
Reference Period Code    261252
Reference Period         261252
Value                         0
Flag Codes               261252
Flags                    261252
dtype: int64

In [ ]:
df['geometry'] = df['the_geom'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(df, crs='epsg:4326')

In [ ]:
gdf.head()

In [ ]:
gdf.info()

In [ ]:
#my_geo_df=my_geo_df.set_crs(epsg=4326)

In [ ]:
print(gdf.crs)

In [ ]:
my_mod_geo_df=gdf.to_crs('EPSG:3857')

In [ ]:
my_mod_geo_df.crs

In [ ]:
ax=my_mod_geo_df.plot(figsize=(16,16),alpha=0.5, edgecolor="k",column='Borough',legend=True)
cx.add_basemap(ax,crs=my_mod_geo_df.crs,zoom=12,source=cx.providers.OpenStreetMap.Mapnik)

### References:
- https://geopandas.org/en/stable/gallery/plotting_basemap_background.html